.OccasionCardsContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.addMoreContainer {
  width: 340px;
  height: 450px;
  /* padding-bottom: 1vh; */
  background-color: inherit;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid #cbd5e1 2px;

}

.material-symbols-outlined {
    font-size: 200px; /* Adjust size */
    color: #cbd5e1; 
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48; /* Apply styles */
  }
  
